* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {

    display: flex;

}
.item {
    width: 200px;
    height: 200px;
}
.red {
    background-color: red;
}
.green {
    position: absolute;
    margin: 50px 0 0 50px;
    background-color: green;
}
.green:hover {
    transform: scale(1.5) rotate(-45deg);
    transition: 2s;
}
.blue { position: absolute;
    margin: 100px 0 0 100px;
    background-color: blue;
}