section {
    display: flex;

}

.btn1 {
    width: 200px;
    height: 200px;
    border: solid 2px black;
    border-radius: 8px;
    margin: 10px;
    font-size: 30px;
    background-color: lightgray;
}
.square1 {
    width: 200px;
    height: 200px;
    border: solid 2px black;
    border-radius: 8px;
    margin: 10px;
    background-color: greenyellow;
}

.green {
    background-color: seagreen;
    width: 100px;
    height: 100px;
}

.btn2 {
    width: 200px;
    height: 200px;
    border: solid 2px black;
    border-radius: 8px;
    margin: 10px;
    font-size: 30px;
    background-color: lightgray;
}

.square2 {
    width: 200px;
    height: 200px;
    border: solid 2px black;
    border-radius: 8px;
    margin: 10px;
    background-color: rgb(234, 174, 251);
}

.blue {
    background-color: skyblue;
}
.btn3 {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 8px;
    margin: 10px;
    font-size: 30px;
    background-color: lightgray;
}
.square3 {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 8px;
    margin: 10px;
    background-color: rgb(254, 218, 146);
}
.yellow {
    width: 190px;
    height: 190px;
}


.p1 {
    color: blue;
}
.p2 {
    color: green;
}